.codeTable {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
    background-color: rgb(192, 215, 218);
}

.codeTable th, .codeTable td {
    border: 1px solid rgb(80, 154, 250);
    padding: 10px;
    text-align: center;
}

.codeTable th {
    background-color: rgb(126, 150, 201);
    color: white;
}

.codeTable td[contenteditable="true"]:hover {
    background-color: rgb(240, 240, 240);
}

.codeTable select{
    text-align: center;
    border: solid rgb(80, 154, 250) 1px;
    width: 100%;
    border-collapse: collapse;
    padding: 12px;
    background-color: rgb(192, 215, 218);
}

.addButton {
    height: 30px;
    width: 30px;
    left: 100%;
    background-color: white;
}